<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Thumb:</strong>
  <%= @category.thumb %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<%= link_to 'Back', categories_path %>